.detaillist {
  width: 100%;
  .detailbox {
    width: 1170px;
    margin: 0 auto;
    border-top: 1px solid #ecedf2;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .leftDetailbox {
      width: 36%;
      > img {
        width: 100%;
        border-radius: 20px;
      }
    }
    .rightDetailbox {
      width: 60%;
      .title {
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #242428;
        padding: 0 0 10px 0;
        .material_symbols_outlined {
          color: rgba(255, 145, 0, 0.397);
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
          font-family: "Material Symbols Outlined";
        }
        .on {
          font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 40;
        }
      }
      .infobox {
        padding-top: 30px;
        ul {
          width: 100%;
          li {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            > div {
              padding-bottom: 30px;
              width: 50%;
              font-size: 15px;
              display: flex;
              flex-wrap: wrap;
              .boldp {
                width: 20%;
                font-weight: bold;
              }
              .normalp {
                width: 70%;
                padding-left: 20px;
                display: flex;
                flex-wrap: wrap;
              }
            }
          }
          .fourthbox {
            height: 200px;
          }
        }
        .timeinfo {
          width: 100%;
          font-weight: bold;
        }
        .timeinfobox {
          padding-top: 20px;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .buttonbox {
    width: 1170px;
    margin: 0 auto;
  }
  .bigposter {
    padding-top: 50px;
    width: 1170px;
    margin: 0 auto;
    > img {
      width: 100%;
    }
    padding-bottom: 50px;
  }
  .comment {
    width: 1170px;
    margin: 0 auto;
    .commenthead {
      padding: 20px 0;
      border-bottom: 1px solid black;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .commentinputbox {
      padding: 30px 0 0px;
      font-size: 14px;
      color: #242428;
      .commentinput {
        padding-top: 10px;
        padding-bottom: 7px;
        > textarea {
          border: 1px solid #dcdde1;
          width: 99%;
          height: 200px;
          border-radius: 10px;
          vertical-align: top;
          padding: 10px 0 0 10px;
          resize: none;
        }
        textarea:focus {
          outline: none;
        }
      }
      .commentinputsummit {
        text-align: right;
        padding-bottom: 10px;
        button {
          padding: 4px 8px;
          background-color: black;
          color: white;
          border-radius: 5px;
        }
      }
    }
    .commentbox {
      border-top: 1px solid #dcdde1;

      padding-top: 40px;
      font-weight: 400;
      .commenttxt {
        padding-bottom: 15px;
        font-size: 14px;
      }
      .commentinfo {
        padding-bottom: 25px;
        font-size: 14px;
        > div {
          padding-top: 10px;
        }
      }
    }
  }
}
